.footer-container {
  background-color: #002e5b;
  padding: 0rem 0 0rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.footer-section {
  color: white;
  text-align: center;
  font-size: large;
}

.footer-text-heading {
  color: white;
  text-align: center;
  font-size: large;
}

.link-items {
  color: white;
  text-align: center;
}
