.leaflet-container {
  height: 93vh;
  max-width: 100vw;
}

a {
  text-decoration: none;
}

/* Elements */
li {
  padding: 6px 0
}

.btn-right {
  font-size: 30px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  float: right;
  padding-top: 8px;
}

/* Class */
.navBar {
  min-height: 7vh;
  max-width: 100%;
  background-color: #002e5b;
  color: white;
  padding-right: 30px;
}

.links {
  height: 0;
  overflow: hidden;
  list-style-type: none;
  font-weight: bold;
  color: white;
  padding-top: 15px;
}

.show-nav {
  height: auto;
}

/* Media screen size */
@media screen and (min-width: 768px) {
  .navBar {
    height: 7vh;
    padding-right: 30px;
  }

  .menu-hamburger-icon {
      display: none;
  }

  .links {
      height: auto;
      display: flex;
      padding-top: 0;
  }

  li {
      padding: 0 30px;
  }
}
